td, th {
	font-size: 12px; 
	margin: 0px;
    padding: 8px 0 !important;
}

.rightClickMenu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    width: 200px;
}

.rightClickHeader {
	font-weight: bold;
	border-bottom: 1px solid #eee;
	padding-top:10px;
	padding-left: 10px;
	padding-right:10px;
}

.rightClickMenu ul {
	padding-left: 0px;
}

.rightClickMenu li {
    padding: 8px 12px;
    margin-left:0px;
    cursor: pointer;
	list-style:none;
}

.rightClickMenu li:hover {
    background-color: #DEF;
}

.grid-error{
    color:#FF0000; 
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}

.grid-body, .grid-header, .grid-footer {
table-layout: fixed;
}

.grid-body input:not([type='checkbox']):not([type="radio"]):not([type="select"]) {
    width: 100% !important;
    height: 100% !important;
}



.grid-body select {
	width: auto;
}

.grid-bodyData-left{
	padding: 0, 0, 0 ,0px;
	text-align: left;
	overflow: hidden;
	white-space: nowrap;
}

.grid-bodyData-center{
	padding: 0, 0, 0 ,0px;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
}

.grid-bodyData-right{
	padding: 0, 0, 0 ,0px;
	text-align: right;
	overflow: hidden;
	white-space: nowrap;
}

.grid-loading {
	background: #E3E3E3 url('../images/load-bg.png');
	display: block;
	opacity:.50;	
	-moz-opacity:.50;
	filter:alpha(opacity=50);
	text-align: center;
}
.grid-loading div {
	width: 100%;
	height: 100%;
	display: block;
	background: url('../images/indicator_web20_working.gif') no-repeat center center;
}
.grid-header-bg {
	background: #E3E3E3 url('../images/grid-hrow.gif') repeat-x bottom;
    height: 18px;
    vertical-align: center;
}
.grid-footer-bg {
	background: #E3E3E3 url('../images/grid-hrow.gif') repeat-x bottom;
    height: 18px;
    vertical-align: center;
}


.grid-odd { background-color: #FFFFFF; }
.grid-even { background-color: #EEF6FF; }

.grid-row-hover {
	background-color: #FFFFBB;
}
.grid-row-selected {
	background-color: #fff6cb;
	border-bottom: 1px solid #333333;
}
.grid-row-selected td {
	color: #990000;
}

.grid-col-resize {
	background: url('../images/grid-split.gif') no-repeat top center;
	cursor:col-resize;
	width: 6px;
	height:16px;
	font-size:1px;
	float: right;
	display: block;
	text-indent:-1000px;
	overflow:hidden;
    vertical-align: top;
	padding-right: 5px;
}



/*
Column Sorting Styles
*/
.grid-sort-asc {
	background: url('../images/sort-asc.png') no-repeat center left;
	display: block;
	height: 18px;
	padding: 3px 0 0 16px;
    overflow:hidden;
	cursor: pointer;
    white-space: nowrap;
}
.grid-sort-desc {
	background: url('../images/sort-desc.png') no-repeat center left;
	display: block;
	height: 18px;
	padding: 3px 0 0 16px;
    overflow:hidden;
	cursor: pointer;
    white-space: nowrap;
}
.grid-sort-none {
	background: url('../images/sort-none.png') no-repeat center left;
    height: 18px;
	padding: 3px 0 0 16px;
	cursor: pointer;
    overflow:hidden;
    vertical-align: center;
    white-space: nowrap;
}

.grid-go {
	color: #fff;
}

/*
Paging Control Styles
*/

/* paging control footer toolbar */
.grid-paging {

}
.grid-infoBar-T {
	background-color: #0064f0;
color: #fff !important;
	padding-top: 7px;	

}
.grid-infoBar-B {
	background-color: #0064f0;
	padding-top: 7px;	
color: #fff;
}

/* paging control footer toolbar page form (pform) */

.grid-search-info {
    display: inline;

}
.grid-search-input {
    display: inline;

}
.grid-checked {
     background: url('../images/box_checked.gif') no-repeat center center ; cursor: pointer;
 }

.grid-checkBoxes{
    background: url('../images/box_unchecked.gif') no-repeat center center; cursor: pointer;
    width: 12px;
}

.grid-row-selected .grid-checkBoxes{

    background: url('../images/box_checked.gif') no-repeat center center; cursor: pointer;

}

.grid-infoBar-T form {
	margin: 0;
    display: inline;
}
.grid-infoBar-B form {
    display: inline;
	margin: 0;

}
.grid-infoBar-br {
    white-space: nowrap;
    text-align: right;
    float: right;
        vertical-align: middle;
        line-height: 16px;
        padding-top: 3px;
   
}
.grid-infoBar-bc {
    margin: 0 auto;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;

}
.grid-infoBar-bl {
    white-space: nowrap;
    float: left;
    vertical-align: middle;
    padding-top: 3px;
    line-height: 16px;
}

.grid-infoBar-tr {
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-align: right;
        padding-top: 3px;
    line-height: 16px;

}
.grid-infoBar-tc {
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
        padding-top: 3px;
    line-height: 16px;
}

.grid-infoBar-tl {
    float: left;
    white-space: nowrap;
    overflow: hidden;
        padding-top: 3px;
    line-height: 16px;
}

/* first page button (pb1) */
.grid-page-start {
    cursor: pointer;
}
/* previous page button (pb2) */
.grid-page-prev {
    cursor: pointer;

}
/* next page button (pb3) */
.grid-page-next {

    cursor: pointer;

}
/* last page button (pb4) */
.grid-page-end {

    cursor: pointer;

}
/* loading indicator graphic (pload) */
.grid-page-loading {
	background: url('../images/grid-loading.gif') no-repeat center left;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px !important;

}
/* loading done indicator graphic (pload) */
.grid-page-loading-done {

}
/* page info text around textbox (pinfo) */
.grid-page-info {
	position: relative;
	font: 11px Tahoma;
	display: inline;
	color: #fff;
	margin-top: -3px;
}
/* viewing rows x of y text message (pv) */
.grid-page-records-info {
    display: inline;
	font: 11px Tahoma;
	color: #fff;	
	height: 16px;
	margin: 3px 10px 0 0;
}

.grid-search {

    color: #575757;    
	height: 16px;
    display: inline;

}

/* page input field (pfld) */
.grid-page-input {
	font: 11px Tahoma;
	width: 30px; 
	border: 1px inset;	
	color: #333;
}

select {
border: #abadb3 1px solid;
margin-bottom: 2px;
}
