@font-face {
  font-family: 'tlafonts';
  src: url('icons.eot?34492147');
  src: url('icons.eot?34492147#iefix') format('embedded-opentype'),
       url('icons.woff?34492147') format('woff'),
       url('icons.ttf?34492147') format('truetype'),
       url('icons.svg?34492147#tlafonts') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'tlafonts';
    src: url('icons.svg?34492147#tlafonts') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "tlafonts";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-spin4:before { content: '\e800'; } /* '' */
.icon-spin3:before { content: '\e801'; } /* '' */
.icon-spin2:before { content: '\e802'; } /* '' */
.icon-spin1:before { content: '\e803'; } /* '' */
.icon-spin5:before { content: '\e804'; } /* '' */
.icon-spin6:before { content: '\e805'; } /* '' */
.icon-ie:before { content: '\e806'; } /* '' */
.icon-chrome:before { content: '\e807'; } /* '' */
.icon-firefox:before { content: '\e808'; } /* '' */
.icon-crown:before { content: '\e809'; } /* '' */
.icon-crown-plus:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-mail:before { content: '\e80c'; } /* '' */
.icon-mail-alt:before { content: '\e80d'; } /* '' */
.icon-mail-squared:before { content: '\e80e'; } /* '' */
.icon-user:before { content: '\e80f'; } /* '' */
.icon-user-plus:before { content: '\e810'; } /* '' */
.icon-user-times:before { content: '\e811'; } /* '' */
.icon-users:before { content: '\e812'; } /* '' */
.icon-picture:before { content: '\e813'; } /* '' */
.icon-th:before { content: '\e814'; } /* '' */
.icon-th-list:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-ok-circled:before { content: '\e817'; } /* '' */
.icon-ok-circled2:before { content: '\e818'; } /* '' */
.icon-ok-squared:before { content: '\e819'; } /* '' */
.icon-cancel:before { content: '\e81a'; } /* '' */
.icon-cancel-circled:before { content: '\e81b'; } /* '' */
.icon-cancel-circled2:before { content: '\e81c'; } /* '' */
.icon-plus:before { content: '\e81d'; } /* '' */
.icon-plus-circled:before { content: '\e81e'; } /* '' */
.icon-plus-squared:before { content: '\e81f'; } /* '' */
.icon-plus-squared-alt:before { content: '\e820'; } /* '' */
.icon-minus:before { content: '\e821'; } /* '' */
.icon-info-circled:before { content: '\e822'; } /* '' */
.icon-help-circled:before { content: '\e823'; } /* '' */
.icon-help:before { content: '\e824'; } /* '' */
.icon-info:before { content: '\e825'; } /* '' */
.icon-home:before { content: '\e826'; } /* '' */
.icon-link-ext:before { content: '\e827'; } /* '' */
.icon-link-ext-alt:before { content: '\e828'; } /* '' */
.icon-lock:before { content: '\e829'; } /* '' */
.icon-lock-open:before { content: '\e82a'; } /* '' */
.icon-lock-open-alt:before { content: '\e82b'; } /* '' */
.icon-pin:before { content: '\e82c'; } /* '' */
.icon-eye:before { content: '\e82d'; } /* '' */
.icon-eye-off:before { content: '\e82e'; } /* '' */
.icon-tag:before { content: '\e82f'; } /* '' */
.icon-tags:before { content: '\e830'; } /* '' */
.icon-bookmark-empty:before { content: '\e831'; } /* '' */
.icon-flag-empty:before { content: '\e832'; } /* '' */
.icon-flag-checkered:before { content: '\e833'; } /* '' */
.icon-flag:before { content: '\e834'; } /* '' */
.icon-bookmark:before { content: '\e835'; } /* '' */
.icon-thumbs-up:before { content: '\e836'; } /* '' */
.icon-thumbs-up-alt:before { content: '\e837'; } /* '' */
.icon-thumbs-down:before { content: '\e838'; } /* '' */
.icon-thumbs-down-alt:before { content: '\e839'; } /* '' */
.icon-download:before { content: '\e83a'; } /* '' */
.icon-upload:before { content: '\e83b'; } /* '' */
.icon-download-cloud:before { content: '\e83c'; } /* '' */
.icon-upload-cloud:before { content: '\e83d'; } /* '' */
.icon-code:before { content: '\e83e'; } /* '' */
.icon-export:before { content: '\e83f'; } /* '' */
.icon-export-alt:before { content: '\e840'; } /* '' */
.icon-share:before { content: '\e841'; } /* '' */
.icon-share-squared:before { content: '\e842'; } /* '' */
.icon-pencil:before { content: '\e843'; } /* '' */
.icon-pencil-squared:before { content: '\e844'; } /* '' */
.icon-edit:before { content: '\e845'; } /* '' */
.icon-print:before { content: '\e846'; } /* '' */
.icon-retweet:before { content: '\e847'; } /* '' */
.icon-keyboard:before { content: '\e848'; } /* '' */
.icon-gamepad:before { content: '\e849'; } /* '' */
.icon-comment:before { content: '\e84a'; } /* '' */
.icon-attention-alt:before { content: '\e84b'; } /* '' */
.icon-attention:before { content: '\e84c'; } /* '' */
.icon-attention-circled:before { content: '\e84d'; } /* '' */
.icon-location:before { content: '\e84e'; } /* '' */
.icon-direction:before { content: '\e84f'; } /* '' */
.icon-compass:before { content: '\e850'; } /* '' */
.icon-trash:before { content: '\e851'; } /* '' */
.icon-trash-empty:before { content: '\e852'; } /* '' */
.icon-doc:before { content: '\e853'; } /* '' */
.icon-docs:before { content: '\e854'; } /* '' */
.icon-doc-text:before { content: '\e855'; } /* '' */
.icon-doc-inv:before { content: '\e856'; } /* '' */
.icon-doc-text-inv:before { content: '\e857'; } /* '' */
.icon-file-pdf:before { content: '\e858'; } /* '' */
.icon-file-code:before { content: '\e859'; } /* '' */
.icon-folder:before { content: '\e85a'; } /* '' */
.icon-folder-open:before { content: '\e85b'; } /* '' */
.icon-folder-empty:before { content: '\e85c'; } /* '' */
.icon-folder-open-empty:before { content: '\e85d'; } /* '' */
.icon-box:before { content: '\e85e'; } /* '' */
.icon-rss:before { content: '\e85f'; } /* '' */
.icon-rss-squared:before { content: '\e860'; } /* '' */
.icon-cog:before { content: '\e861'; } /* '' */
.icon-cog-alt:before { content: '\e862'; } /* '' */
.icon-wrench:before { content: '\e863'; } /* '' */
.icon-sliders:before { content: '\e864'; } /* '' */
.icon-calendar:before { content: '\e865'; } /* '' */
.icon-calendar-empty:before { content: '\e866'; } /* '' */
.icon-clock:before { content: '\e867'; } /* '' */
.icon-lightbulb:before { content: '\e868'; } /* '' */
.icon-cw:before { content: '\e869'; } /* '' */
.icon-ccw:before { content: '\e86a'; } /* '' */
.icon-arrows-cw:before { content: '\e86b'; } /* '' */
.icon-level-up:before { content: '\e86c'; } /* '' */
.icon-level-down:before { content: '\e86d'; } /* '' */
.icon-shuffle:before { content: '\e86e'; } /* '' */
.icon-exchange:before { content: '\e86f'; } /* '' */
.icon-history:before { content: '\e870'; } /* '' */
.icon-target:before { content: '\e871'; } /* '' */
.icon-signal:before { content: '\e872'; } /* '' */
.icon-wifi:before { content: '\e873'; } /* '' */
.icon-award:before { content: '\e874'; } /* '' */
.icon-desktop:before { content: '\e875'; } /* '' */
.icon-laptop:before { content: '\e876'; } /* '' */
.icon-tablet:before { content: '\e877'; } /* '' */
.icon-mobile:before { content: '\e878'; } /* '' */
.icon-inbox:before { content: '\e879'; } /* '' */
.icon-globe:before { content: '\e87a'; } /* '' */
.icon-sun:before { content: '\e87b'; } /* '' */
.icon-cloud:before { content: '\e87c'; } /* '' */
.icon-flash:before { content: '\e87d'; } /* '' */
.icon-align-left:before { content: '\e87e'; } /* '' */
.icon-align-center:before { content: '\e87f'; } /* '' */
.icon-align-right:before { content: '\e880'; } /* '' */
.icon-align-justify:before { content: '\e881'; } /* '' */
.icon-list:before { content: '\e882'; } /* '' */
.icon-indent-right:before { content: '\e883'; } /* '' */
.icon-indent-left:before { content: '\e884'; } /* '' */
.icon-list-bullet:before { content: '\e885'; } /* '' */
.icon-list-numbered:before { content: '\e886'; } /* '' */
.icon-table:before { content: '\e887'; } /* '' */
.icon-list-alt:before { content: '\e888'; } /* '' */
.icon-qrcode:before { content: '\e889'; } /* '' */
.icon-book:before { content: '\e88a'; } /* '' */
.icon-toggle-off:before { content: '\e88b'; } /* '' */
.icon-toggle-on:before { content: '\e88c'; } /* '' */
.icon-fork:before { content: '\e88d'; } /* '' */
.icon-check-empty:before { content: '\e88e'; } /* '' */
.icon-circle-empty:before { content: '\e88f'; } /* '' */
.icon-circle-thin:before { content: '\e890'; } /* '' */
.icon-circle:before { content: '\e891'; } /* '' */
.icon-tint:before { content: '\e892'; } /* '' */
.icon-ajust:before { content: '\e893'; } /* '' */
.icon-spinner:before { content: '\e894'; } /* '' */
.icon-sitemap:before { content: '\e895'; } /* '' */
.icon-gauge:before { content: '\e896'; } /* '' */
.icon-hammer:before { content: '\e897'; } /* '' */
.icon-shield:before { content: '\e898'; } /* '' */
.icon-bullseye:before { content: '\e899'; } /* '' */
.icon-language:before { content: '\e89a'; } /* '' */
.icon-copyright:before { content: '\e89b'; } /* '' */
.icon-calc:before { content: '\e89c'; } /* '' */
.icon-star:before { content: '\e89d'; } /* '' */
.icon-star-empty:before { content: '\e89e'; } /* '' */
.icon-heart-empty:before { content: '\e89f'; } /* '' */
.icon-heart:before { content: '\e8a0'; } /* '' */
.icon-mail-1:before { content: '\e8a1'; } /* '' */
.icon-flashlight:before { content: '\e8a2'; } /* '' */
.icon-search-1:before { content: '\e8a3'; } /* '' */
.icon-cancel-circled-1:before { content: '\e8a4'; } /* '' */
.icon-cancel-squared:before { content: '\e8a5'; } /* '' */
.icon-plus-1:before { content: '\e8a6'; } /* '' */
.icon-plus-circled-1:before { content: '\e8a7'; } /* '' */
.icon-plus-squared-1:before { content: '\e8a8'; } /* '' */
.icon-minus-1:before { content: '\e8a9'; } /* '' */
.icon-minus-circled:before { content: '\e8aa'; } /* '' */
.icon-minus-squared:before { content: '\e8ab'; } /* '' */
.icon-help-1:before { content: '\e8ac'; } /* '' */
.icon-help-circled-1:before { content: '\e8ad'; } /* '' */
.icon-info-1:before { content: '\e8ae'; } /* '' */
.icon-info-circled-1:before { content: '\e8af'; } /* '' */
.icon-back:before { content: '\e8b0'; } /* '' */
.icon-home-1:before { content: '\e8b1'; } /* '' */
.icon-check:before { content: '\e8b2'; } /* '' */
.icon-menu:before { content: '\e8b3'; } /* '' */
.icon-layout:before { content: '\e8b4'; } /* '' */
.icon-users-1:before { content: '\e8b5'; } /* '' */
.icon-user-add:before { content: '\e8b6'; } /* '' */
.icon-user-1:before { content: '\e8b7'; } /* '' */
.icon-lock-1:before { content: '\e8b8'; } /* '' */
.icon-lock-open-1:before { content: '\e8b9'; } /* '' */
.icon-eye-1:before { content: '\e8ba'; } /* '' */
.icon-water:before { content: '\e8bb'; } /* '' */
.icon-droplet:before { content: '\e8bc'; } /* '' */
.icon-air:before { content: '\e8bd'; } /* '' */
.icon-infinity:before { content: '\e8be'; } /* '' */
.icon-erase:before { content: '\e8bf'; } /* '' */
.icon-chart-bar:before { content: '\e8c0'; } /* '' */
.icon-cloud-1:before { content: '\e8c1'; } /* '' */
.icon-cloud-thunder:before { content: '\e8c2'; } /* '' */
.icon-flash-1:before { content: '\e8c3'; } /* '' */
.icon-moon:before { content: '\e8c4'; } /* '' */
.icon-search-outline:before { content: '\e8c5'; } /* '' */
.icon-search-2:before { content: '\e8c6'; } /* '' */
.icon-mail-2:before { content: '\e8c7'; } /* '' */
.icon-user-2:before { content: '\e8c8'; } /* '' */
.icon-user-outline:before { content: '\e8c9'; } /* '' */
.icon-users-outline:before { content: '\e8ca'; } /* '' */
.icon-users-2:before { content: '\e8cb'; } /* '' */
.icon-user-add-outline:before { content: '\e8cc'; } /* '' */
.icon-user-add-1:before { content: '\e8cd'; } /* '' */
.icon-user-delete-outline:before { content: '\e8ce'; } /* '' */
.icon-user-delete:before { content: '\e8cf'; } /* '' */
.icon-doc-text-1:before { content: '\e8d0'; } /* '' */
.icon-news:before { content: '\e8d1'; } /* '' */
.icon-map:before { content: '\e8d2'; } /* '' */
.icon-location-1:before { content: '\e8d3'; } /* '' */
.icon-menu-outline:before { content: '\e8d4'; } /* '' */
.icon-menu-1:before { content: '\e8d5'; } /* '' */
.icon-cog-outline:before { content: '\e8d6'; } /* '' */
.icon-cog-1:before { content: '\e8d7'; } /* '' */
.icon-wrench-outline:before { content: '\e8d8'; } /* '' */
.icon-wrench-1:before { content: '\e8d9'; } /* '' */
.icon-search-3:before { content: '\e8da'; } /* '' */
.icon-user-3:before { content: '\e8db'; } /* '' */
.icon-pencil-1:before { content: '\e8dc'; } /* '' */
.icon-pencil-neg:before { content: '\e8dd'; } /* '' */
.icon-doc-inv-alt:before { content: '\e8de'; } /* '' */
.icon-doc-alt:before { content: '\e8df'; } /* '' */
.icon-doc-inv-1:before { content: '\e8e0'; } /* '' */
.icon-doc-1:before { content: '\e8e1'; } /* '' */
.icon-trash-empty-1:before { content: '\e8e2'; } /* '' */
.icon-trash-1:before { content: '\e8e3'; } /* '' */
.icon-article:before { content: '\e8e4'; } /* '' */
.icon-article-alt:before { content: '\e8e5'; } /* '' */
.icon-book-open:before { content: '\e8e6'; } /* '' */
.icon-block:before { content: '\e8e7'; } /* '' */
.icon-user-4:before { content: '\e8e8'; } /* '' */
.icon-user-woman:before { content: '\e8e9'; } /* '' */
.icon-user-pair:before { content: '\e8ea'; } /* '' */
.icon-mail-3:before { content: '\e8eb'; } /* '' */
.icon-search-4:before { content: '\e8ec'; } /* '' */
.icon-tag-1:before { content: '\e8ed'; } /* '' */
.icon-search-5:before { content: '\e8ee'; } /* '' */
.icon-mail-4:before { content: '\e8ef'; } /* '' */
.icon-user-5:before { content: '\e8f0'; } /* '' */
.icon-user-male:before { content: '\e8f1'; } /* '' */
.icon-user-female:before { content: '\e8f2'; } /* '' */
.icon-users-3:before { content: '\e8f3'; } /* '' */
.icon-comment-1:before { content: '\e8f4'; } /* '' */
.icon-chat:before { content: '\e8f5'; } /* '' */
.icon-help-circled-2:before { content: '\e8f6'; } /* '' */
.icon-help-circled-alt:before { content: '\e8f7'; } /* '' */
.icon-info-circled-2:before { content: '\e8f8'; } /* '' */
.icon-info-circled-alt:before { content: '\e8f9'; } /* '' */
.icon-home-2:before { content: '\e8fa'; } /* '' */
.icon-android:before { content: '\e8fb'; } /* '' */
.icon-search-6:before { content: '\e8fc'; } /* '' */
.icon-search-circled:before { content: '\e8fd'; } /* '' */
.icon-user-6:before { content: '\e8fe'; } /* '' */
.icon-group:before { content: '\e8ff'; } /* '' */
.icon-group-circled:before { content: '\e900'; } /* '' */
.icon-torso:before { content: '\e901'; } /* '' */
.icon-target-1:before { content: '\e902'; } /* '' */
.icon-signal-1:before { content: '\e903'; } /* '' */
.icon-align-left-1:before { content: '\e904'; } /* '' */
.icon-align-center-1:before { content: '\e905'; } /* '' */
.icon-align-right-1:before { content: '\e906'; } /* '' */
.icon-align-justify-1:before { content: '\e907'; } /* '' */
.icon-list-1:before { content: '\e908'; } /* '' */
.icon-globe-alt:before { content: '\e909'; } /* '' */
.icon-globe-1:before { content: '\e90a'; } /* '' */
.icon-inbox-1:before { content: '\e90b'; } /* '' */
.icon-inbox-alt:before { content: '\e90c'; } /* '' */
.icon-inbox-circled:before { content: '\e90d'; } /* '' */
.icon-user-7:before { content: '\e90e'; } /* '' */
.icon-search-7:before { content: '\e90f'; } /* '' */
.icon-mail-5:before { content: '\e910'; } /* '' */
.icon-user-8:before { content: '\e911'; } /* '' */
.icon-star-1:before { content: '\e912'; } /* '' */
.icon-videocam:before { content: '\e913'; } /* '' */
.icon-th-large:before { content: '\e914'; } /* '' */
.icon-link:before { content: '\e915'; } /* '' */
.icon-unlink:before { content: '\e916'; } /* '' */
.icon-minus-circled-1:before { content: '\e917'; } /* '' */
.icon-minus-squared-1:before { content: '\e918'; } /* '' */
.icon-minus-squared-alt:before { content: '\e919'; } /* '' */
.icon-reply:before { content: '\e91a'; } /* '' */
.icon-reply-all:before { content: '\e91b'; } /* '' */
.icon-forward:before { content: '\e91c'; } /* '' */
.icon-quote-left:before { content: '\e91d'; } /* '' */
.icon-quote-right:before { content: '\e91e'; } /* '' */
.icon-down-dir:before { content: '\e91f'; } /* '' */
.icon-up-dir:before { content: '\e920'; } /* '' */
.icon-left-dir:before { content: '\e921'; } /* '' */
.icon-right-dir:before { content: '\e922'; } /* '' */
.icon-down-circled2:before { content: '\e923'; } /* '' */
.icon-up-circled2:before { content: '\e924'; } /* '' */
.icon-right-circled2:before { content: '\e925'; } /* '' */
.icon-logout:before { content: '\e926'; } /* '' */
.icon-login:before { content: '\e927'; } /* '' */
.icon-resize-full:before { content: '\e928'; } /* '' */
.icon-resize-full-alt:before { content: '\e929'; } /* '' */
.icon-resize-small:before { content: '\e92a'; } /* '' */
.icon-resize-horizontal:before { content: '\e92b'; } /* '' */
.icon-angle-circled-left:before { content: '\e92c'; } /* '' */
.icon-angle-circled-right:before { content: '\e92d'; } /* '' */
.icon-angle-circled-down:before { content: '\e92e'; } /* '' */
.icon-angle-down:before { content: '\e92f'; } /* '' */
.icon-angle-up:before { content: '\e930'; } /* '' */
.icon-angle-right:before { content: '\e931'; } /* '' */
.icon-angle-left:before { content: '\e932'; } /* '' */
.icon-up-open:before { content: '\e933'; } /* '' */
.icon-right-open:before { content: '\e934'; } /* '' */
.icon-left-open:before { content: '\e935'; } /* '' */
.icon-down-big:before { content: '\e936'; } /* '' */
.icon-up:before { content: '\e937'; } /* '' */
.icon-left-big:before { content: '\e938'; } /* '' */
.icon-right-big:before { content: '\e939'; } /* '' */
.icon-up-big:before { content: '\e93a'; } /* '' */
.icon-right:before { content: '\e93b'; } /* '' */
.icon-left:before { content: '\e93c'; } /* '' */
.icon-down:before { content: '\e93d'; } /* '' */
.icon-angle-double-down:before { content: '\e93e'; } /* '' */
.icon-angle-double-up:before { content: '\e93f'; } /* '' */
.icon-angle-double-right:before { content: '\e940'; } /* '' */
.icon-angle-double-left:before { content: '\e941'; } /* '' */
.icon-bookmark-1:before { content: '\e942'; } /* '' */
.icon-down-open-big:before { content: '\e943'; } /* '' */
.icon-up-open-mini:before { content: '\e944'; } /* '' */
.icon-right-open-mini:before { content: '\e945'; } /* '' */
.icon-left-open-mini:before { content: '\e946'; } /* '' */
.icon-left-open-big:before { content: '\e947'; } /* '' */
.icon-right-open-big:before { content: '\e948'; } /* '' */
.icon-up-open-big:before { content: '\e949'; } /* '' */
.icon-down-1:before { content: '\e94a'; } /* '' */
.icon-left-1:before { content: '\e94b'; } /* '' */
.icon-right-1:before { content: '\e94c'; } /* '' */
.icon-up-1:before { content: '\e94d'; } /* '' */
.icon-down-dir-1:before { content: '\e94e'; } /* '' */
.icon-right-dir-1:before { content: '\e94f'; } /* '' */
.icon-up-dir-1:before { content: '\e950'; } /* '' */
.icon-left-bold:before { content: '\e951'; } /* '' */
.icon-up-bold:before { content: '\e952'; } /* '' */
.icon-down-open-mini:before { content: '\e953'; } /* '' */
.icon-up-open-1:before { content: '\e954'; } /* '' */
.icon-right-open-1:before { content: '\e955'; } /* '' */
.icon-left-open-1:before { content: '\e956'; } /* '' */
.icon-down-open:before { content: '\e957'; } /* '' */
.icon-hourglass:before { content: '\e958'; } /* '' */
.icon-gplus-circled:before { content: '\e959'; } /* '' */
.icon-gplus:before { content: '\e95a'; } /* '' */
.icon-gplus-squared:before { content: '\e95b'; } /* '' */
.icon-gplus-1:before { content: '\e95c'; } /* '' */
.icon-google:before { content: '\e95d'; } /* '' */
.icon-googleplus-rect:before { content: '\e95e'; } /* '' */
.icon-gplus-2:before { content: '\e95f'; } /* '' */
.icon-play:before { content: '\e960'; } /* '' */
.icon-to-end:before { content: '\e961'; } /* '' */
.icon-to-end-alt:before { content: '\e962'; } /* '' */
.icon-to-start:before { content: '\e963'; } /* '' */
.icon-pause:before { content: '\e964'; } /* '' */
.icon-to-start-alt:before { content: '\e965'; } /* '' */
.icon-fast-fw:before { content: '\e966'; } /* '' */
.icon-fast-bw:before { content: '\e967'; } /* '' */
.icon-stop:before { content: '\e968'; } /* '' */
.icon-play-circled2:before { content: '\e969'; } /* '' */
.icon-play-circled:before { content: '\e96a'; } /* '' */
.icon-eject:before { content: '\e96b'; } /* '' */
.icon-fast-fw-outline:before { content: '\e96c'; } /* '' */
.icon-fast-fw-1:before { content: '\e96d'; } /* '' */
.icon-rewind-outline:before { content: '\e96e'; } /* '' */
.icon-rewind:before { content: '\e96f'; } /* '' */
.icon-play-1:before { content: '\e970'; } /* '' */
.icon-to-start-1:before { content: '\e971'; } /* '' */
.icon-to-end-1:before { content: '\e972'; } /* '' */
.icon-to-end-2:before { content: '\e973'; } /* '' */
.icon-to-start-2:before { content: '\e974'; } /* '' */
.icon-fast-forward:before { content: '\e975'; } /* '' */
.icon-fast-backward:before { content: '\e976'; } /* '' */
.icon-pause-1:before { content: '\e977'; } /* '' */
.icon-stop-1:before { content: '\e978'; } /* '' */
.icon-backward-circled:before { content: '\e979'; } /* '' */
.icon-forward-circled:before { content: '\e97a'; } /* '' */
.icon-play-circled-1:before { content: '\e97b'; } /* '' */
.icon-fast-forward-1:before { content: '\e97c'; } /* '' */
.icon-fast-backward-1:before { content: '\e97d'; } /* '' */
.icon-forward-1:before { content: '\e97e'; } /* '' */
.icon-step-backward:before { content: '\e97f'; } /* '' */
.icon-step-forward:before { content: '\e980'; } /* '' */
.icon-backward:before { content: '\e981'; } /* '' */
.icon-level-down-1:before { content: '\e982'; } /* '' */
.icon-level-up-1:before { content: '\e983'; } /* '' */
.icon-shuffle-1:before { content: '\e984'; } /* '' */
.icon-loop:before { content: '\e985'; } /* '' */
.icon-switch:before { content: '\e986'; } /* '' */
.icon-arrows-ccw:before { content: '\e987'; } /* '' */
.icon-cw-1:before { content: '\e988'; } /* '' */
.icon-ccw-1:before { content: '\e989'; } /* '' */
.icon-flight:before { content: '\e98a'; } /* '' */
.icon-list-2:before { content: '\e98b'; } /* '' */
.icon-signal-2:before { content: '\e98c'; } /* '' */
.icon-play-2:before { content: '\e98d'; } /* '' */
.icon-stop-2:before { content: '\e98e'; } /* '' */
.icon-pause-2:before { content: '\e98f'; } /* '' */
.icon-record:before { content: '\e990'; } /* '' */
.icon-to-end-3:before { content: '\e991'; } /* '' */
.icon-to-start-3:before { content: '\e992'; } /* '' */
.icon-fast-forward-2:before { content: '\e993'; } /* '' */
.icon-fast-backward-2:before { content: '\e994'; } /* '' */
.icon-progress-0:before { content: '\e995'; } /* '' */
.icon-down-thin:before { content: '\e996'; } /* '' */
.icon-right-bold:before { content: '\e997'; } /* '' */
.icon-down-bold:before { content: '\e998'; } /* '' */
.icon-left-dir-1:before { content: '\e999'; } /* '' */
.icon-down-circled:before { content: '\e99a'; } /* '' */
.icon-left-circled:before { content: '\e99b'; } /* '' */
.icon-right-circled:before { content: '\e99c'; } /* '' */
.icon-up-circled:before { content: '\e99d'; } /* '' */
.icon-lamp:before { content: '\e99e'; } /* '' */
.icon-phone:before { content: '\e99f'; } /* '' */
.icon-rss-1:before { content: '\e9a0'; } /* '' */
.icon-box-1:before { content: '\e9a1'; } /* '' */
.icon-archive:before { content: '\e9a2'; } /* '' */
.icon-folder-1:before { content: '\e9a3'; } /* '' */
.icon-chat-1:before { content: '\e9a4'; } /* '' */
.icon-bell:before { content: '\e9a5'; } /* '' */
.icon-attention-1:before { content: '\e9a6'; } /* '' */
.icon-flag-1:before { content: '\e9a7'; } /* '' */
.icon-bookmarks:before { content: '\e9a8'; } /* '' */
.icon-reply-1:before { content: '\e9a9'; } /* '' */
.icon-download-1:before { content: '\e9aa'; } /* '' */
.icon-reply-all-1:before { content: '\e9ab'; } /* '' */
.icon-forward-2:before { content: '\e9ac'; } /* '' */
.icon-code-1:before { content: '\e9ad'; } /* '' */
.icon-export-1:before { content: '\e9ae'; } /* '' */
.icon-retweet-1:before { content: '\e9af'; } /* '' */
.icon-comment-2:before { content: '\e9b0'; } /* '' */
.icon-cancel-1:before { content: '\e9b1'; } /* '' */
.icon-right-2:before { content: '\e9b2'; } /* '' */
.icon-up-2:before { content: '\e9b3'; } /* '' */
.icon-down-outline:before { content: '\e9b4'; } /* '' */
.icon-left-outline:before { content: '\e9b5'; } /* '' */
.icon-right-outline:before { content: '\e9b6'; } /* '' */
.icon-up-outline:before { content: '\e9b7'; } /* '' */
.icon-down-small:before { content: '\e9b8'; } /* '' */
.icon-left-small:before { content: '\e9b9'; } /* '' */
.icon-right-small:before { content: '\e9ba'; } /* '' */
.icon-up-small:before { content: '\e9bb'; } /* '' */
.icon-block-outline:before { content: '\e9bc'; } /* '' */
.icon-block-1:before { content: '\e9bd'; } /* '' */
.icon-right-open-2:before { content: '\e9be'; } /* '' */
.icon-down-2:before { content: '\e9bf'; } /* '' */
.icon-left-2:before { content: '\e9c0'; } /* '' */
.icon-right-open-outline:before { content: '\e9c1'; } /* '' */
.icon-left-open-2:before { content: '\e9c2'; } /* '' */
.icon-left-open-outline:before { content: '\e9c3'; } /* '' */
.icon-loop-outline:before { content: '\e9c4'; } /* '' */
.icon-loop-alt-outline:before { content: '\e9c5'; } /* '' */
.icon-arrows-cw-outline:before { content: '\e9c6'; } /* '' */
.icon-play-3:before { content: '\e9c7'; } /* '' */
.icon-arrow-curved:before { content: '\e9c8'; } /* '' */
.icon-split:before { content: '\e9c9'; } /* '' */
.icon-exchange-1:before { content: '\e9ca'; } /* '' */
.icon-equalizer:before { content: '\e9cb'; } /* '' */
.icon-cursor:before { content: '\e9cc'; } /* '' */
.icon-cd:before { content: '\e9cd'; } /* '' */
.icon-aperture-alt:before { content: '\e9ce'; } /* '' */
.icon-aperture:before { content: '\e9cf'; } /* '' */
.icon-play-circle2:before { content: '\e9d0'; } /* '' */
.icon-stop-3:before { content: '\e9d1'; } /* '' */
.icon-pause-3:before { content: '\e9d2'; } /* '' */
.icon-resize-small-alt:before { content: '\e9d3'; } /* '' */
.icon-resize-small-1:before { content: '\e9d4'; } /* '' */
.icon-resize-full-alt-1:before { content: '\e9d5'; } /* '' */
.icon-resize-full-1:before { content: '\e9d6'; } /* '' */
.icon-resize-horizontal-1:before { content: '\e9d7'; } /* '' */
.icon-resize-vertical:before { content: '\e9d8'; } /* '' */
.icon-move:before { content: '\e9d9'; } /* '' */
.icon-popup:before { content: '\e9da'; } /* '' */
.icon-down-3:before { content: '\e9db'; } /* '' */
.icon-left-3:before { content: '\e9dc'; } /* '' */
.icon-right-3:before { content: '\e9dd'; } /* '' */
.icon-up-3:before { content: '\e9de'; } /* '' */
.icon-down-circle:before { content: '\e9df'; } /* '' */
.icon-left-circle:before { content: '\e9e0'; } /* '' */
.icon-right-circle:before { content: '\e9e1'; } /* '' */
.icon-up-circle:before { content: '\e9e2'; } /* '' */
.icon-cw-2:before { content: '\e9e3'; } /* '' */
.icon-loop-1:before { content: '\e9e4'; } /* '' */
.icon-loop-alt:before { content: '\e9e5'; } /* '' */
.icon-ok-1:before { content: '\e9e6'; } /* '' */
.icon-cancel-2:before { content: '\e9e7'; } /* '' */
.icon-cancel-circle:before { content: '\e9e8'; } /* '' */
.icon-th-list-1:before { content: '\e9e9'; } /* '' */
.icon-th-1:before { content: '\e9ea'; } /* '' */
.icon-export-2:before { content: '\e9eb'; } /* '' */
.icon-download-2:before { content: '\e9ec'; } /* '' */
.icon-down-4:before { content: '\e9ed'; } /* '' */
.icon-up-4:before { content: '\e9ee'; } /* '' */
.icon-cw-3:before { content: '\e9ef'; } /* '' */
.icon-at:before { content: '\e9f0'; } /* '' */
.icon-ok-2:before { content: '\e9f1'; } /* '' */
.icon-ok-circled-1:before { content: '\e9f2'; } /* '' */
.icon-cancel-3:before { content: '\e9f3'; } /* '' */
.icon-cancel-circled-2:before { content: '\e9f4'; } /* '' */
.icon-plus-2:before { content: '\e9f5'; } /* '' */
.icon-th-list-2:before { content: '\e9f6'; } /* '' */
.icon-th-thumb-empty:before { content: '\e9f7'; } /* '' */
.icon-th-thumb:before { content: '\e9f8'; } /* '' */
.icon-menu-2:before { content: '\e9f9'; } /* '' */
.icon-up-5:before { content: '\e9fa'; } /* '' */
.icon-right-4:before { content: '\e9fb'; } /* '' */
.icon-left-4:before { content: '\e9fc'; } /* '' */
.icon-down-5:before { content: '\e9fd'; } /* '' */
.icon-up-open-2:before { content: '\e9fe'; } /* '' */
.icon-right-open-3:before { content: '\e9ff'; } /* '' */
.icon-left-open-3:before { content: '\ea00'; } /* '' */
.icon-down-open-1:before { content: '\ea01'; } /* '' */
.icon-down-bold-1:before { content: '\ea02'; } /* '' */
.icon-left-bold-1:before { content: '\ea03'; } /* '' */
.icon-right-bold-1:before { content: '\ea04'; } /* '' */
.icon-up-bold-1:before { content: '\ea05'; } /* '' */
.icon-down-fat:before { content: '\ea06'; } /* '' */
.icon-left-fat:before { content: '\ea07'; } /* '' */
.icon-right-fat:before { content: '\ea08'; } /* '' */
.icon-up-fat:before { content: '\ea09'; } /* '' */
.icon-ccw-2:before { content: '\ea0a'; } /* '' */
.icon-shuffle-2:before { content: '\ea0b'; } /* '' */
.icon-play-4:before { content: '\ea0c'; } /* '' */
.icon-ok-3:before { content: '\ea0d'; } /* '' */
.icon-ok-circled-2:before { content: '\ea0e'; } /* '' */
.icon-ok-circled2-1:before { content: '\ea0f'; } /* '' */
.icon-cancel-4:before { content: '\ea10'; } /* '' */
.icon-cancel-circled-3:before { content: '\ea11'; } /* '' */
.icon-cancel-circled2-1:before { content: '\ea12'; } /* '' */
.icon-plus-3:before { content: '\ea13'; } /* '' */
.icon-plus-circled-2:before { content: '\ea14'; } /* '' */
.icon-minus-2:before { content: '\ea15'; } /* '' */
.icon-minus-circled-2:before { content: '\ea16'; } /* '' */
.icon-help-2:before { content: '\ea17'; } /* '' */
.icon-help-circled-3:before { content: '\ea18'; } /* '' */
.icon-info-circled-3:before { content: '\ea19'; } /* '' */
.icon-home-3:before { content: '\ea1a'; } /* '' */
.icon-home-circled:before { content: '\ea1b'; } /* '' */
.icon-website:before { content: '\ea1c'; } /* '' */
.icon-download-alt:before { content: '\ea1d'; } /* '' */
.icon-upload-1:before { content: '\ea1e'; } /* '' */
.icon-share-1:before { content: '\ea1f'; } /* '' */
.icon-download-3:before { content: '\ea20'; } /* '' */
.icon-down-open-2:before { content: '\ea21'; } /* '' */
.icon-left-open-4:before { content: '\ea22'; } /* '' */
.icon-right-open-4:before { content: '\ea23'; } /* '' */
.icon-up-open-3:before { content: '\ea24'; } /* '' */
.icon-down-6:before { content: '\ea25'; } /* '' */
.icon-left-5:before { content: '\ea26'; } /* '' */
.icon-right-5:before { content: '\ea27'; } /* '' */
.icon-up-6:before { content: '\ea28'; } /* '' */
.icon-down-circled-1:before { content: '\ea29'; } /* '' */
.icon-left-circled-1:before { content: '\ea2a'; } /* '' */
.icon-right-circled-1:before { content: '\ea2b'; } /* '' */
.icon-arrows-cw-1:before { content: '\ea2c'; } /* '' */
.icon-shuffle-3:before { content: '\ea2d'; } /* '' */
.icon-play-5:before { content: '\ea2e'; } /* '' */
.icon-stop-4:before { content: '\ea2f'; } /* '' */
.icon-play-circled2-1:before { content: '\ea30'; } /* '' */
.icon-stop-circled:before { content: '\ea31'; } /* '' */
.icon-pause-4:before { content: '\ea32'; } /* '' */
.icon-pause-circled:before { content: '\ea33'; } /* '' */
.icon-record-1:before { content: '\ea34'; } /* '' */
.icon-eject-1:before { content: '\ea35'; } /* '' */
.icon-ok-4:before { content: '\ea36'; } /* '' */
.icon-ok-circle:before { content: '\ea37'; } /* '' */
.icon-cancel-5:before { content: '\ea38'; } /* '' */
.icon-cancel-circle-1:before { content: '\ea39'; } /* '' */
.icon-plus-circle:before { content: '\ea3a'; } /* '' */
.icon-minus-circle:before { content: '\ea3b'; } /* '' */
.icon-indent-right-1:before { content: '\ea3c'; } /* '' */
.icon-indent-left-1:before { content: '\ea3d'; } /* '' */
.icon-list-numbered-1:before { content: '\ea3e'; } /* '' */
.icon-list-3:before { content: '\ea3f'; } /* '' */
.icon-list-add:before { content: '\ea40'; } /* '' */
.icon-trophy:before { content: '\ea41'; } /* '' */
.icon-battery:before { content: '\ea42'; } /* '' */
.icon-sound:before { content: '\ea43'; } /* '' */
.icon-dollar:before { content: '\ea44'; } /* '' */
.icon-money:before { content: '\ea45'; } /* '' */
.icon-chart-bar-1:before { content: '\ea46'; } /* '' */
.icon-chart-area:before { content: '\ea47'; } /* '' */
.icon-chart-pie:before { content: '\ea48'; } /* '' */
.icon-chart-line:before { content: '\ea49'; } /* '' */
.icon-moon-1:before { content: '\ea4a'; } /* '' */
.icon-umbrella:before { content: '\ea4b'; } /* '' */
.icon-flight-1:before { content: '\ea4c'; } /* '' */
.icon-off:before { content: '\ea4d'; } /* '' */
.icon-cc-visa:before { content: '\ea4e'; } /* '' */
.icon-cc-mastercard:before { content: '\ea4f'; } /* '' */
.icon-cc-paypal:before { content: '\ea50'; } /* '' */
.icon-chart-area-1:before { content: '\ea51'; } /* '' */
.icon-chart-line-1:before { content: '\ea52'; } /* '' */
.icon-chart-pie-1:before { content: '\ea53'; } /* '' */
.icon-cc-nc:before { content: '\ea54'; } /* '' */
.icon-rss-2:before { content: '\ea55'; } /* '' */
.icon-volume-high:before { content: '\ea56'; } /* '' */
.icon-volume-middle:before { content: '\ea57'; } /* '' */
.icon-volume-low:before { content: '\ea58'; } /* '' */
.icon-flash-outline:before { content: '\ea59'; } /* '' */
.icon-flash-2:before { content: '\ea5a'; } /* '' */
.icon-waves-outline:before { content: '\ea5b'; } /* '' */
.icon-waves:before { content: '\ea5c'; } /* '' */
.icon-chart:before { content: '\ea5d'; } /* '' */
.icon-chart-bar-2:before { content: '\ea5e'; } /* '' */
.icon-chart-pie-2:before { content: '\ea5f'; } /* '' */
.icon-dollar-1:before { content: '\ea60'; } /* '' */
.icon-off-1:before { content: '\ea61'; } /* '' */
.icon-chart-1:before { content: '\ea62'; } /* '' */
.icon-chart-circled:before { content: '\ea63'; } /* '' */
.icon-credit-card:before { content: '\ea64'; } /* '' */
.icon-money-1:before { content: '\ea65'; } /* '' */
.icon-signal-3:before { content: '\ea66'; } /* '' */
.icon-visa:before { content: '\ea67'; } /* '' */
.icon-mastercard:before { content: '\ea68'; } /* '' */